# Скопируйте файл и подставьте свои значения:
#   cp .env.example .env

THEME_PATH=./theme
LANG_PATH=./lang

# Канал управления (TCP)
TCP_PORT=9000
TCP_HOST=""

# Передача данных (UDP)
UDP_PORT=9001
UDP_HOST=""
